body{
    background-color: #ffcc99;
}

#calculator{
    background-color: grey;
    height: 30vw;
    width: 21%;
    border: black solid 5px;
    margin: 3vw auto;
}

#top-part{
    background-color: black;
    height: 15%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#bottom-part{
    display: flex;
    height: 85%;
    width: 100%;
}

#numbers-other{
    display: flex;
    width: 100%;
    height: 100%;
}

#numbers{
    display: flex;
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
    margin: 0.5vw 1vw;
}

#first-row, #second-row, #third-row, #fourth-row, #fifth-row{
    height: 20%;
    width: 100%;
    display: flex;
    gap: 1vw;
}

#special-btns{
    margin: 0.5vw 1vw;
}

#other-ops{
    display: flex;
    flex-direction: column; 
    justify-content: space-around;
}

#numbers-display{
    height: 50%;
    width: 80%;
    background-color: white;
    font-size: 30px;
    text-align: end;
}

button{
    height: 4vw;
    width: 4vw;
    font-size: 30px;
    border: black solid 2px;
}

#btn-back, #btn-eq{
    width: 9vw;
}

.special, .op{
    background-color: blue;
    outline: none;
    color: white;
}

.special:hover, .op:hover, .number:hover{
    filter: brightness(90%)
}
